*{
	background-color: #444;
	color: white;
	font-family: 'Anton', sans-serif;
}

.inicio{
	margin: 100px;
	
}

a{
	text-decoration:none;
}

.link{
	font-size: 20px;
	margin: 25px;
	transform: rotate(10deg);
}

.btn-catalogo{
	transform: scale(30deg);
}

.titulo{
	width: 100%;
	display: block;
	background:linear-gradient(to left,black,transparent);
	text-align: center;
}

.div-calculadora{
	height: 400px;
	width: 350px;
	background-color: black;
}